<app-header-front></app-header-front>

<!-- event details area start -->
<section class="event__inner pb-110 pt-110">
  <div class="container">

    <!-- Display User ID -->
    <div class="user-details">
      <p>User ID: {{ user.id }}</p>
   </div>


    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-lg-8">
        <h1 class="inner-tiitle mb-25">{{  internship?.intershipTitle }}


        </h1>

       <!-- <div class="intership-rating">
          <h5 class="font-size-15">Rate This Internship <strong> : {{ internship?.averageRating }} </strong></h5>
          <div class="rating-star d-flex align-items-center justify-content-center">
            &lt;!&ndash; Listen to the ratingChange event emitted by the rating component &ndash;&gt;
            <rating [(ngModel)]="rating" [readonly]="false" class="stars" [max]="5"></rating>
            <span class="ratingnum badge bg-info align-middle ms-2">{{ rating }}</span>
          </div>
        </div>-->

        <div class="row">
          <div class="col-xl-3 col-md-4 col-sm-6">
            <div class="p-4 text-center">
              <h5 class="font-size-15">Rate This Internship <strong> : {{internship?.averageRating}} </strong></h5>

              <div class="rating-star d-flex align-items-center justify-content-center">
                <rating [(ngModel)]="rating" [readonly]="false" class="stars" [max]="5"></rating>
                <span class="ratingnum badge bg-info align-middle ms-2">{{ rating }}</span>
              </div>
              <button class="btn btn-primary mt-3" (click)="rateInternship()">Submit Rating</button>
            </div>
          </div>
        </div>




        <div class="course__meta-2 d-sm-flex">
          <div class="course__teacher-3 d-flex align-items-center mr-70 mb-30">
            <div class="course__teacher-thumb-3 mr-15">
              <!--
                            <img src="assets/img/courses/avata/course-avata-1.jpg" alt="">
              -->
            </div>
            <div class="course__teacher-info-3">
              <h5>Internship Type</h5>
              <p><a href="">{{  internship?.intershipType }}</a></p>
            </div>
          </div>
          <div class="course__update mr-80 mb-30">
            <h5>Posted Date</h5>
            <p><a href="">{{  internship?.intershippostedDate }}</a></p>
          </div>
          <div class="course__update mr-80 mb-30">
            <h5>Start Date</h5>
            <p><a href="">{{  internship?.intershipStartDate }}</a></p>
          </div>

          <div class="course__update mr-80 mb-30">
            <h5>Duration</h5>
            <p><a href="">{{  internship?.intershipDuration }}</a></p>
          </div>
        </div>
        <div class="events__wrapper">

          <div class="events__details mb-35">
            <h3>Description</h3>
            <p>{{ internship?.intershipDescription }}</p>
          </div>

          <div class="events__details mb-35">
            <h3>Qualifications</h3>
            <p>{{ internship?.intershipQualifications }}</p>
          </div>


          <!-- Display internship responsibilities -->
          <div class="intership-responsibilities mb-30">
            <h3>Internship Responsibilities</h3>
            <!-- Split the responsibilities string and iterate over them -->
            <ul>
              <li *ngFor="let responsibility of (internship?.intershipResponsibilities || '').split('.'); let last = last">
                <i class=""></i> {{ responsibility.trim() }}
              </li>
            </ul>
          </div>





          <!-- Display internship skills -->
          <div class="events__tag">
            <h3>Skills</h3>
            <span><i class=""></i> </span>
            <ng-container *ngFor="let skill of (internship?.intershipSkills || '').split('.'); let last = last">
              <a href="#" *ngIf="skill.trim()">{{ skill.trim() }}</a><span *ngIf="!last">, </span>
            </ng-container>
          </div>


        </div>


      </div>




      <div class="col-xxl-4 col-xl-4 col-lg-4">
        <div class="events__sidebar pl-70">
          <div class="events__sidebar-widget white-bg mb-20">
            <div class="events__info">
              <div class="events__info-meta mb-25 d-flex align-items-center justify-content-between">
                <!--  <div class="events__info-price">
                    <h5>$76.<span>00</span> </h5>
                    <h5 class="old-price">$142.00</h5>
                  </div>-->
                <!--<div class="events__info-discount">
                  <span>68% OFF</span>
                </div>-->
              </div>
              <div class="events__info-content mb-35">
                <ul>
                  <li class="d-flex align-items-center">
                    <div class="events__info-icon">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                          <path class="st0" d="M2,6l6-4.7L14,6v7.3c0,0.7-0.6,1.3-1.3,1.3H3.3c-0.7,0-1.3-0.6-1.3-1.3V6z"/>
                        <polyline class="st0" points="6,14.7 6,8 10,8 10,14.7 "/>
                                       </svg>
                    </div>
                    <div class="events__info-item">
                      <h5><span>End: </span> July 26, 2022 12:30 am</h5>
                    </div>
                  </li>
                  <li class="d-flex align-items-center">
                    <div class="events__info-icon">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                                          <circle class="st0" cx="8" cy="8" r="6.7"></circle>
                        <polyline class="st0" points="8,4 8,8 10.7,9.3 "></polyline>
                                       </svg>
                    </div>
                    <div class="events__info-item">
                      <h5><span>Time:</span>  10:45 AM-01:30 PM</h5>
                    </div>
                  </li>
                  <li class="d-flex align-items-center">
                    <div class="events__info-icon">
                      <svg>
                        <circle class="st0" cx="8" cy="8" r="6.7"></circle>
                        <line class="st0" x1="1.3" y1="8" x2="14.7" y2="8"></line>
                        <path class="st0" d="M8,1.3c1.7,1.8,2.6,4.2,2.7,6.7c-0.1,2.5-1,4.8-2.7,6.7C6.3,12.8,5.4,10.5,5.3,8C5.4,5.5,6.3,3.2,8,1.3z"></path>
                      </svg>
                    </div>
                    <div class="events__info-item">
                      <h5><span>Venue: </span> New York, TX 82760, US</h5>
                    </div>
                  </li>


                </ul>
              </div>


              <div class="events__join-btn p-relative z-index-1">
                <button class="tp-btn w-100" (click)="applyForInternship()">
                  <span>Apply <i class="fa-regular fa-arrow-right"></i> </span>
                  <div class="transition"></div>
                </button>
              </div>
              
              




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-front></app-footer-front>
