.form-container {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(167, 165, 165, 0.179);
 /* Transparence pour l'effet glacé */
  -webkit-backdrop-filter: blur(10px); /* Support WebKit */
  position: relative; /* Pour positionner le bouton de fermeture */
}

.input-group {
  flex: 1; /* Pour donner un espace équitable aux éléments */
}

.d-flex {
  display: flex;
  justify-content: space-between; /* Pour aligner les éléments à l'horizontale */
}

.mt-3 {
  margin-top: 1rem; /* Pour un peu d'espace entre les éléments */
}

.close-btn {
  position: absolute; /* Position absolue pour le bouton de fermeture */
  top: 10px;
  right: 10px;
  background: transparent; /* Transparence pour conserver l'effet glacé */
}

.btn {
  margin: 10px; /* Pour espacer les boutons */
}

/* Style des éléments mat-select */
.mat-form-field {
  flex: 1;

}

.mat-select {
  color: black; /* Texte du mat-select */
  background-color: rgba(255, 255, 255, 0.2); /* Transparence pour l'effet glacé */
}

.mat-select-panel {
  background-color: rgba(255, 255, 255, 0.2); /* Transparence pour l'effet glacé */
  color: black; /* Couleur des options */
}

.mat-selected {
  background-color: lightblue; /* Couleur de l'option sélectionnée */
  color: black; /* Texte de l'option sélectionnée */
}
