$primary-color: #212121; //Gray 900
$accent-color: #2962FF; //Blue A700
$accent-color-darken: darken($accent-color, 15%);


.avatar-container {
  position: relative;
  width: fit-content;
}

.box-shadow-avatar{
  box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;

  &.avatar-placeholder{
    background-image: url('~src/assets/images/avatar-placeholder.png');
  }
}

.icon-wrapper {
  position: absolute;
  height: 50px;
  width: 50px;
  padding: 0.35rem;
  background-color: #2962FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 66%;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all .25s;
    background-color: $accent-color-darken;
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}
