<div *ngIf="internship" class="container-fluid">
  <app-page-title title="Internship Details" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-3">
      <div class="card">
        <div class="card-body">
          <h5 class="fw-semibold">Overview</h5>
          <div class="table-responsive">
            <table class="table">
              <tbody>

              <tr>
                <th scope="col">Rating</th>
                <td scope="col">{{internship.averageRating}} </td>
              </tr>
              <tr>
                <th scope="col">Internship</th>
                <td scope="col">{{ internship.intershipTitle }}</td>
              </tr>

              <tr>
                <th scope="row">Internship Type</th>
                <td><span class="badge badge-soft-success"><strong>{{ internship.intershipType }}</strong></span></td>
              </tr>

              <tr>
                <th scope="row">Posted Date</th>
                <td>{{ internship.intershippostedDate }}</td>
              </tr>

              <tr>
                <th scope="row">Start Date</th>
                <td>{{ internship.intershipStartDate }}</td>
              </tr>
              <tr>
                <th scope="row">Duration</th>
                <td>{{ internship.intershipDuration }}</td>
              </tbody>
            </table>
          </div>
          <div class="hstack gap-2">
<!--
            <button class="btn btn-soft-primary w-100">Apply Now</button>
-->
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h5 class="mt-3 mb-1">{{ internship.intershipCompany }}</h5>

          </div>

          <ul class="list-unstyled mt-4">
            <li>

            </li>
            <li class="mt-3">
              <div class="d-flex">
                <i class="bx bx-mail-send text-primary fs-4"></i>
                <div class="ms-3">
                  <h6 class="fs-14 mb-2">Email</h6>
                  <p class="text-muted fs-14 mb-0">{{ user.email }}</p>
                  <p class="text-muted fs-14 mb-0">{{ user.id }}</p>

                </div>
              </div>
            </li>
            <li class="mt-3">
              <div class="d-flex">
                <i class="bx bx-globe text-primary fs-4"></i>
                <div class="ms-3">
                  <h6 class="fs-14 mb-2">Website</h6>
                  <p class="text-muted fs-14 text-break mb-0">{{ internship.intershipCompany }}.com</p>
                </div>
              </div>
            </li>
            <li class="mt-3">
              <div class="d-flex">
                <i class="bx bx-map text-primary fs-4"></i>
                <div class="ms-3">
                  <h6 class="fs-14 mb-2">Location</h6>
                  <p (click)="openGoogleMaps()">
                    <i class="bx bx-map"></i>
                    <span class="text-muted">{{ internship.intershipLocation }}</span>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="mt-4">
          </div>
        </div>
      </div>
    </div><!--end col-->
    <div class="col-xl-9">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex">
            <img src="assets/images/companies/wechat.svg" alt="" height="50">
            <div class="flex-grow-1 ms-3">
              <h5 class="fw-semibold">{{ internship.intershipCompany }}</h5>
              <ul class="list-unstyled hstack gap-2 mb-0">
                <li>
                  <i class="bx bx-building-house"></i> <span class="text-muted">{{ internship.intershipTitle }}</span>
                </li>
                <li (click)="openGoogleMaps()">
                  <i class="bx bx-map"></i>
                  <span class="text-muted">{{ internship.intershipLocation }}</span>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="fw-semibold mb-3">Description</h5>
          <p class="text-muted">{{ internship.intershipDescription }}</p>

          <h5 class="fw-semibold mb-3">Responsibilities:</h5>
          <ul class="vstack gap-3">
            <!-- Split the intershipResponsibilities string into an array and iterate over it -->
            <li *ngFor="let responsibility of internship.intershipResponsibilities.split('. ')">
              {{ responsibility }}
            </li>
          </ul>


          <h5 class="fw-semibold mb-3">Qualification:</h5>
          <ul class="vstack gap-3">
            {{ internship.intershipQualifications }}
          </ul>
          <h5 class="fw-semibold mb-3">Skill & Experience:</h5>
          <div class="mt-4 d-flex gap-1">
  <span class="badge badge-soft-warning custom-badge">
    <strong>{{ internship.intershipSkills }}</strong>
  </span>
          </div>




          <div class="col-20">
            <div class="card">
              <div class="card-body">
                <!-- Existing content -->

                <!-- Rating input and submit button -->

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-20">
        <div class="card">
          <div class="card-body">
            <!-- Existing content -->
            <!-- Rating input -->
            <h3 class="fw-semibold">Rate This Internship</h3>
            <div class="row">
              <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="p-4 text-left">
                  <div class="rating-star d-flex align-items-center justify-content-center">
                    <rating [(ngModel)]="rating" [readonly]="readonly" class="stars" [max]=5 (ngModelChange)="updateRating()"></rating>
                    <span class="ratingnum badge bg-info align-middle ms-2">{{ rating }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-10" >
        <div class="card">
          <div class="card-body">
            <h3 class="fw-semibold">Quick Share </h3>
            <share-buttons theme="circles-dark"
                           [include]="['copy','email','mix','linkedin', 'pinterest', 'print', 'reddit', 'telegram','twitter', 'vk', 'xing', 'whatsapp']"
                           [showIcon]="true"
                           [showText]="true"
                           [url]="internshipUrl"
                           [title]="internship.intershipTitle"
                           description="Check out this internship!"
                           class="pt-5">
            </share-buttons>

          </div>
        </div>
      </div>


    </div><!--end col-->
  </div><!--end row-->




</div>




