


<div class="container-fluid">
  <app-page-title title="Job Categories" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">categories List</h5>
            <div class="flex-shrink-0 d-flex gap-1">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="openModal()">Add New categorie</a>

              <a href="javascript:void(0);" class="btn btn-light"><i class="mdi mdi-refresh"></i></a>
              <div class="dropdown d-inline-block" dropdown>
                <button type="menu" class="btn btn-success" id="*dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" dropdownToggle><i class="mdi mdi-dots-vertical"></i></button>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-end show" aria-labelledby="*dropdownMenuButton1" *dropdownMenu>
                  <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xl-3 col-md-6" *ngFor="let category of categories">
            <div class="card jobs-categories">
              <div class="card-body d-flex justify-content-between align-items-center">
                <a href="javascript:void(0);" class="px-3 py-2 rounded bg-light bg-opacity-50 d-block mb-2">{{ category.categoryName }}</a>

                <ul class="list-unstyled hstack gap-1 mb-0">
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                    <a href="javascript:void(0);" class="btn btn-sm btn-soft-danger" (click)="removeCategory(category.categoryId)">
                      <i class="mdi mdi-delete-outline"></i>
                    </a>
                  </li>



                  <!-- Edit Button with Router Link and Parameter -->
                  <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                    <a class="btn btn-sm btn-soft-info" (click)="openUpdatecategoryDialog(category.categoryId)">
                      <i class="mdi mdi-pencil-outline"></i>
                    </a>
                  </li>

                </ul>


              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>



<!-- Modal content -->
<ng-template #content let-modal>
  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <!-- categoryName field -->
      <div class="mb-3">
        <label for="Name-field" class="form-label">Category Name</label>
        <input type="text" id="Name-field" class="form-control" placeholder="Enter Category Name" formControlName="categoryName" />
        <div *ngIf="categoryForm.get('categoryName').invalid && categoryForm.get('categoryName').touched" class="text-danger">
          Category Name is required
        </div>
      </div>

      <!-- categoryDescription field -->
      <div class="mb-3">
        <label for="Description-field" class="form-label">Category Description</label>
        <textarea id="Description-field" class="form-control" placeholder="Enter Category Description" formControlName="categoryDescription"></textarea>
      </div>
    </form>
  </div>
  <!-- Modal footer with close and save buttons -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="createCategory()" [disabled]="!categoryForm.valid">Save</button>
  </div>
</ng-template>


