<app-header-front></app-header-front>


<!-- Internships Section -->
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="tp-section__title-wrapper text-center mb-60">
        <h3 class="tp-section__title mb-15">Upcoming Intersnsips</h3>
        <p>******************************</p>
        {{user.username}}
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Use *ngFor to iterate over internships and display them -->
    <div class="col-lg-6" *ngFor="let internship of internships$ | async">
      <div class="tp-event-3__item mb-30">
        <div class="tp-event-3__content d-md-flex justify-content-between align-items-center">
          <div class="tp-event-3__info">
            <span><i class="fa-light fa-clock"></i> {{ internship.intershipStartDate }}</span>
            <span><i class="fa-light fa-location-dot"></i> {{ internship.intershipLocation }}</span>
            <h3 class="tp-event-3__title"><a [routerLink]="['/details', internship.intershipId]">{{ internship.intershipTitle }}</a></h3>
            <p>{{ internship.intershipDescription }}</p>
          </div>

          <div class="tp-evnet-2__btn p-relative z-index-11">
            <a [routerLink]="['/details', internship.intershipId]" class="tp-border-btn">
              <span>Details</span>
              <div class="transition"></div>
            </a>
          </div>

          <!-- Apply button -->
          <div class="tp-evnet-2__btn p-relative z-index-11" *ngIf="!isInternshipStartDatePassed(internship.intershipStartDate)">
            <a [routerLink]="['/details', internship.intershipId]" class="tp-border-btn">
              <span>Apply</span>
              <div class="transition"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Internships Section End -->


<app-footer-front></app-footer-front>
