
<!--
<div class="breadcrumb__area include-bg pt-200 pb-150 breadcrumb__overlay"
     data-background="../../../assets/images/esprit/espritbg1.jpg">
  <div class="container">
    <div class="row">
      <div class="col-X-12">
        <div class="breadcrumb__content p-relative z-index-1">
          <h3 class="breadcrumb__title">Internships List</h3>
          <div class="breadcrumb__list">
            <span><a href="#">Home</a></span>
            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
            <span>Internships</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="tp-section__title-wrapper text-center mb-60">
        <h3 class="tp-section__title mb-15">Upcoming Internships</h3>
        <p>******************************</p>
        {{ user.username }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" *ngFor="let internship of getCurrentPageInternships()">
      <div class="tp-event-3__item mb-30">
        <div class="tp-event-3__content d-md-flex justify-content-between align-items-center">
          <div class="tp-event-3__info">
            <span><i class="fa-light fa-clock"></i> {{ internship.intershipStartDate }}</span>
            <span><i class="fa-light fa-location-dot"></i> {{ internship.intershipLocation }}</span>

            <h3 class="tp-event-3__title"><a [routerLink]="['/details', internship.intershipId]">{{ internship.intershipTitle }}</a></h3>

            <p>{{ internship.intershipDescription }}</p>
          </div>

          <div class="tp-evnet-2__btn p-relative z-index-11">
            <a [routerLink]="['/details', internship.intershipId]" class="tp-border-btn">
              <span>Details</span>
              <div class="transition"></div>
            </a>
          </div>

          <div class="tp-evnet-2__btn p-relative z-index-11" *ngIf="!isInternshipStartDatePassed(internship.intershipStartDate)">
            <a [routerLink]="['/details', internship.intershipId]" class="tp-border-btn">
              <span>Apply</span>
              <div class="transition"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination [totalItems]="totalRecords" [(ngModel)]="page" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>
-->
<!--
<app-header-back></app-header-back>
<div class="container mt-4">
  <div class="row">
<app-grid></app-grid>
  </div>
</div>
-->

<app-header-back></app-header-back>

<div class="container-fluid">
  <app-page-title title="Jobs Grid" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="container mt-4">
    <div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="card job-filter">
        <div class="card-body p-3">
          <div class="row g-3">
            <div class="col-xxl-4 col-lg-4">
              <div class="position-relative">
                <!-- Search input for filtering by title or company -->

                <input type="search" class="form-control" id="searchInput" placeholder="Search by title or company ..." [(ngModel)]="searchTerm" (input)="updatePagination()">


              </div>
            </div>

            <div class="col-xxl-2 col-lg-6">
              <div class="position-relative h-100 hstack gap-3">
                <button type="submit" class="btn btn-primary h-100 w-100"><i class="bx bx-search-alt align-middle"></i> Find Jobs</button>
                <a href="javascript:void(0);" class="btn btn-secondary h-100 w-100" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                   aria-controls="collapseExample"><i class="bx bx-filter-alt align-middle"></i> Advance</a>
              </div>
            </div>
            <!--end col-->
            <div class="collapse" id="collapseExample" [collapse]="isCollapsed">
              <div class="pt-4">
                <div class="row g-3">

                  <div class="col-xxl-4 col-lg-6">
                    <div>
                      <!--<label for="" class="form-label">Internship Type</label>-->
                    </div>
                    <div class="form-check form-check-inline">
<!--
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" [(ngModel)]="filter.FULL_TIME" (change)="updateInternshipsDisplay()">
-->
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" [(ngModel)]="filter.FULL_TIME">
                      <label class="form-check-label" for="inlineCheckbox6">FULL_TIME</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox7" [(ngModel)]="filter.remote">
                      <label class="form-check-label" for="inlineCheckbox7">REMOTE</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox8" [(ngModel)]="filter.contract">
                      <label class="form-check-label" for="inlineCheckbox8">CONTRACT</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox9" [(ngModel)]="filter.PART_TIME">
                      <label class="form-check-label" for="inlineCheckbox9">PART_TIME</label>
                    </div>



                    <!-- Add more checkboxes for internship types as needed -->
                  </div>
                  <div class="col-xxl-4 col-lg-4">
                    <!-- Additional filter options can be added here -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end row-->
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  <!-- Jobs Grid -->
  <div class="row" id="jobgrid-list">
    <div class="col-xl-3 col-md-6" *ngFor="let internship of getCurrentPageInternships()">
      <div class="card">
        <div class="card-body">
          <div class="favorite-icon">
            <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
          </div>
          <h5 class="fs-17 mb-2"><a href="javascript:void(0);" class="text-dark">{{internship.intershipCompany }}</a> <span class="badge rounded-3 badge-soft-info">{{internship.intershippostedDate}}</span> </h5>
          <ul class="list-inline mb-0">

            <li class="list-inline-item">
              <p class="text-muted fs-14 mb-1">{{internship.intershipDuration}}</p>
            </li>

            <li class="list-inline-item">
              <p class="text-muted fs-14 mb-1">{{internship.intershipTitle}}</p>
            </li>

            <br>
            <li class="list-inline-item">
              <p class="text-muted fs-14 mb-0"><i class="mdi mdi-map-marker"></i> {{internship.intershipLocation}}</p>
            </li>
          </ul>
          <div class="mt-3 hstack gap-2">
            <span class="badge rounded-1 badge-soft-success">{{internship.intershipType}}</span>
            <!-- Additional badges for internship categories can be displayed here -->
          </div>
          <div class="mt-4 hstack gap-3">
            <a [routerLink]="['/details', internship.intershipId]" class="tp-border-btn">
              <span>Details</span>
              <div class="transition"></div>
            </a>
            <!--<a [routerLink]="['/details', internship.intershipId]" class="tp-border-btn">
              <span>Apply</span>
              <div class="transition"></div>
            </a>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="d-flex justify-content-center">
        <!-- Replace the existing pagination with the <pagination> component -->
        <pagination [totalItems]="totalRecords" [(ngModel)]="page" [itemsPerPage]="5"
                    previousText="&lsaquo;" nextText="&rsaquo;" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</div><!--end row-->

<!-- Pagination -->
  </div>
</div>
