<div class="container-fluid">
  <app-page-title title="Task List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            
            <div class="d-flex align-items-center justify-content-between">
              <!-- Barre de recherche -->
              <div class="col-sm">
                <div class="search-box me-2 d-inline-block">
                  <div class="position-relative">
                    <input 
                      type="text" 
                      class="form-control" 
                      autocomplete="off" 
                      id="searchTableList" 
                      placeholder="Search..."
                      [formControl]="searchFormGroup.controls['keyword']"
                      (keyup.enter)="onSearch()">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
              
              <!-- Bouton Filtre -->
              <a href="javascript:void(0);" class="btn btn-secondary me-2 btn-rounded" (click)="toggleQualificationList()" aria-controls="collapseExample">
                <i class="bx bx-filter-alt align-middle"></i> filtre
              </a>
            
              <!-- Bouton Add New Task -->
              <a routerLink="/tasks/create" class="btn btn-success btn-rounded" id="addProject-btn">
                <i class="mdi mdi-plus me-1"></i> Add New Task
              </a>
            </div>
              
            
            
            <div *ngIf="showQualificationList" class="d-flex justify-content-between mt-2 filter-container">
              <!-- Filtrage par Priorité avec marge à droite -->
              <div class="d-flex flex-column flex-fill mr-2">
                <label for="qualificationInput" class="form-label">With : Priority</label>
                <select class="form-control" id="qualificationInput" [(ngModel)]="selectedPriority" (change)="filterTasksByPriority()">
                  <option value="ALL">ALL</option>
                  <option value="HIGH">HIGH</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="LOW">LOW</option>
                </select>
              </div>
            
              <!-- Filtrage par Statut avec marge à droite -->
              <div class="d-flex flex-column flex-fill mr-2">
                <label for="statusInput" class="form-label">With : Status</label>
                <select class="form-control" id="statusInput" [(ngModel)]="selectedStatus" (change)="filterTasksByStatus()">
                  <option value="ALL">ALL</option>
                  <option value="Finished">Finished</option>
                  <option value="In_Progress">In Progress</option>
                  <option value="To_do">To Do</option>
                </select>
              </div>

              <!-- Trier par date avec checkbox à droite -->
<div class="d-flex align-items-center justify-content-end mt-2">
  <label class="form-check-label me-2" for="sortByDateCheckbox">
    Sort By Date
  </label>
  <input class="form-check-input" type="checkbox" id="sortByDateCheckbox" (change)="toggleSortByDate($event)">
</div>

</div>

            
              

            
            
          </div>
          <div class="table-responsive">
            <table class="table project-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless" id="projectList-table">
              <thead class="table-light">
                <tr>
                  <th scope="col">Task Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Status</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Module Name</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks | async | slice:(page-1)*itemsPerPage:page*itemsPerPage">
                  <td>{{ task.taskName }}</td>
                  <td>{{ task.taskDescription }}</td>
                  <td>{{ task.priority }}</td>
                  <td>{{ task.statut }}</td>
                  <td>{{ task.firstName }}</td>
                  <td>{{ task.module?.moduleName }}</td>
                  <td>{{ task.startDate }}</td>
                  <td>{{ task.endDate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination pagination-rounded justify-content-center mt-2 mb-5">
            <pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="itemsPerPage" [maxSize]="3" previousText="&lsaquo;" nextText="&rsaquo;" (pageChanged)="pageChanged($event)"></pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
