<div class="container-fluid">
  <app-page-title title="Task List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="d-flex align-items-center justify-content-between">
              <!-- Barre de recherche -->
              <div class="col-sm">
                <div class="search-box me-2 d-inline-block">
                  <div class="position-relative">
                    <input 
                      type="text"   
                      class="form-control" 
                      autocomplete="off" 
                      placeholder="Search..."
                      [formControl]="searchFormGroup.controls['keyword']"
                      (keyup.enter)="RealTimeSearch()">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
              
              <!-- Bouton Filtre -->
              <a href="javascript:void(0);" class="btn btn-secondary me-2 btn-rounded" (click)="toggleQualificationList()" aria-controls="collapseExample">
                <i class="bx bx-filter-alt align-middle"></i> filtre
              </a>
            
              <!-- Bouton Add New Task -->
              <a routerLink="/tasks/create" class="btn btn-success btn-rounded" id="addProject-btn">
                <i class="mdi mdi-plus me-1"></i> Add New Task
              </a>
            </div>

            <div *ngIf="showQualificationList" class="d-flex justify-content-between mt-2 filter-container">
              <!-- Filtrage par Priorité avec marge à droite -->
              <div class="d-flex flex-column flex-fill mr-2">
                <label for="qualificationInput" class="form-label">With : Priority</label>
                <select class="form-control" id="qualificationInput" [(ngModel)]="selectedPriority" (change)="filterTasksByPriority()">
                  <option value="ALL">ALL</option>
                  <option value="HIGH">HIGH</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="LOW">LOW</option>
                </select>
              </div>
            
              <!-- Filtrage par Statut avec marge à droite -->
              <div class="d-flex flex-column flex-fill mr-2">
                <label for="statusInput" class="form-label">With : Status</label>
                <select class="form-control" id="statusInput" [(ngModel)]="selectedStatus" (change)="filterTasksByStatus()">
                  <option value="ALL">ALL</option>
                  <option value="Finished">Finished</option>
                  <option value="In_Progress">In Progress</option>
                  <option value="To_do">To Do</option>
                </select>
              </div>

              <!-- Trier par date avec checkbox à droite -->
              <div class="d-flex align-items-center justify-content-end mt-2">
                <label class="form-check-label me-2" for="sortByDateCheckbox">
                  Sort By Date
                </label>
                <input class="form-check-input" type="checkbox" id="sortByDateCheckbox" (change)="toggleSortByDate($event)">
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table project-list-table align-middle table-nowrap dt-responsive nowrap w-100 table-borderless" id="projectList-table">
              <thead class="table-light">
                <tr>
                  <th scope="col">Task Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Status</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Module Name</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks$ | async | slice:(page-1)*itemsPerPage:page*itemsPerPage">
                  <td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.taskName }}</td>
                  <td *ngIf="isEditMode && selectedTask?.id === task.id"><input [(ngModel)]="selectedTask.taskName" class="form-control"></td>
                  
                  <td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.taskDescription }}</td>
                  <td *ngIf="isEditMode && selectedTask?.id === task.id"><input [(ngModel)]="selectedTask.taskDescription" class="form-control"></td>
                  
                  <!-- Priority -->
<td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.priority }}</td>
<td *ngIf="isEditMode && selectedTask?.id === task.id">
  <select [(ngModel)]="selectedTask.priority" class="form-control">
    <option value="HIGH">HIGH</option>
    <option value="MEDIUM">MEDIUM</option>
    <option value="LOW">LOW</option>
  </select>
</td>

<!-- Status -->
<td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.statut }}</td>
<td *ngIf="isEditMode && selectedTask?.id === task.id">
  <select [(ngModel)]="selectedTask.statut" class="form-control">
    <option value="Finished">Finished</option>
    <option value="In_Progress">In Progress</option>
    <option value="To_do">To Do</option>
  </select>
</td>

                  <td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.firstName }}</td>
                  <td *ngIf="isEditMode && selectedTask?.id === task.id"><input [(ngModel)]="selectedTask.firstName" class="form-control"></td>
                  
                  <td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.module?.moduleName }}</td>
                  <td *ngIf="isEditMode && selectedTask?.id === task.id">
                    <select class="form-control" [(ngModel)]="selectedTask.module.moduleName" (click)="selectModule($event)">
                      <option *ngFor="let module of modules" [value]="module.moduleName">{{ module.moduleName }}</option>
                    </select>
                  </td>
                  
                  <td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.startDate }}</td>
                  <td *ngIf="isEditMode && selectedTask?.id === task.id"><input [(ngModel)]="selectedTask.startDate" class="form-control"></td>
                  
                  <td *ngIf="!isEditMode || selectedTask?.id !== task.id">{{ task.endDate }}</td>
                  <td *ngIf="isEditMode && selectedTask?.id === task.id"><input [(ngModel)]="selectedTask.endDate" class="form-control"></td>
                  
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                        <a class="btn btn-sm btn-soft-primary" *ngIf="!isEditMode" (click)="edit(task)"><i class="mdi mdi-pencil"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Save" *ngIf="isEditMode && selectedTask?.id === task.id">
                        <a class="btn btn-sm btn-soft-success" (click)="updateTask()"><i class="mdi mdi-check"></i></a>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                        <a href="javascript:void(0);" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger" (click)="delete($event, task.id)"><i class="mdi mdi-delete-outline"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Pagination -->
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination pagination-rounded justify-content-center mt-2 mb-5">
            <pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="itemsPerPage" [maxSize]="3" previousText="&lsaquo;" nextText="&rsaquo;" (pageChanged)="pageChanged($event)"></pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
