<div class="container-fluid">
  <app-page-title title="My Application Details" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Application Details</h5>
          <div class="row g-3">
            <div class="col-md-6">
              <input type="search" class="form-control" id="searchInput" placeholder="Search by status ..." [(ngModel)]="searchTerm">
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary w-100" (click)="searchApplications()">
                <i class="mdi mdi-filter-outline align-middle"></i> Filter
              </button>
            </div>
          </div>
          <div class="table-responsive mt-4">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Application Number</th>
                  <th scope="col">Application Date</th>
                  <th scope="col">Internship Company</th>
                  <th scope="col">Internship Title</th>
                  <th scope="col">Interview Date</th>
                  <th scope="col">Interview Mode</th>
                  <th scope="col">Acceptance Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of getCurrentPageApplications(); let i = index">
                  <td>{{ startIndex + i + 1 }}</td>
                  <td>{{ data.dateDePostulation }}</td>
                  <td>{{ data.intershipCompany }}</td>
                  <td>{{ data.intershipTitle }}</td>
                  <td>{{ data.interview?.dateEntretien || "No interview date" }}</td>
                  <td>{{ data.interview?.modaliteEntretien || "No interview mode" }}</td>
                  <td>{{ data.dateAcceptation }}</td>
                  <td>
                    <span class="badge bg-success" *ngIf="data.status === 'ACCEPTED'">ACCEPTED</span>
                    <span class="badge bg-info" *ngIf="data.status === 'PENDING'">PENDING</span>
                    <span class="badge bg-danger" *ngIf="data.status === 'REJECTED'">REJECTED</span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-danger" (click)="deleteApplicationConfirmed(data.id)">
                      <i class="mdi mdi-delete-outline"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-between align-items-center mt-4">
            <div class="col-auto">
              <p class="text-muted mb-0">Showing <b>{{ startIndex }}</b> to <b>{{ endIndex }}</b> of <b>{{ totalRecords }}</b> entries</p>
            </div>
            <div class="col-auto">
              <pagination [totalItems]="totalRecords" [(ngModel)]="page" [itemsPerPage]="5" previousText="&lsaquo;" nextText="&rsaquo;" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">Status Analytics</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PENDING
              <span class="badge bg-primary rounded-pill">{{ pendingCount.toFixed(2) }}%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              REJECTED
              <span class="badge bg-warning rounded-pill">{{ rejectedCount.toFixed(2) }}%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              ACCEPTED
              <span class="badge bg-success rounded-pill">{{ acceptedCount.toFixed(2) }}%</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title mb-4">Activity</h5>
          <ul class="verti-timeline list-unstyled">
            <li class="event-list" *ngFor="let interviewDate of interviewDates">
              <div class="event-timeline-dot">
                <i class="bx bx-right-arrow-circle font-size-18"></i>
              </div>
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <h5 class="font-size-14">{{ interviewDate | date:'dd MMM' }}</h5>
                </div>
                <div class="flex-grow-1">
                  <div>Interview Date</div>
                </div>
              </div>
            </li>
          </ul>
           
        </div>
      </div>
    </div>
  </div>
</div>
